@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-glow {
  0% {
    border-color: violet;
  }
  25% {
    border-color: blue;
  }
  50% {
    border-color: lightgreen;
  }
  75% {
    border-color: lightyellow;
  }
  100% {
    border-color: violet;
  }
}

@layer utilities {
  .hover-border-glow {
    animation: border-glow 2s infinite;
  }
}
